<h1 class="text-center">Members Only</h1>

<ul class="text-center">
  <% @posts.each do |post| %>
  <div class="border">
    <h4> <%= post.title %> </h4>
    <p> <%= post.content %> </p>
    <p class="fst-italic"> <%= if user_signed_in?
              "- " + post.user.username
            else
              "Anonymous"
            end 
          %> 
    </p>
  </div>
  <% end %>
</ul>
